<h1 style="text-align: center;">Ler relatorio do atendimento</h1>
<br>
<button ng-click="ler()" type="submit" class="btn green col-md-12">Ler relatorio de atendimento</button>

<br><br><br><br><br><br>
<h1 style="text-align: center;">Ler relatorio do faturamento</h1>
<br>
<button ng-click="lerFaturamento()" type="submit" class="btn green col-md-12">Ler relatorio de faturamento</button>

<br><br><br><br><br><br>
<h1 style="text-align: center;">Ler demostrativo dos convenios</h1>
<br>
<button ng-click="lerDemonstrativo()" type="submit" class="btn green col-md-12">Ler demonstrativo dos convenios</button>